body{
  padding: 2em;
}

.req {
  padding: 10px;
  margin: 10px;
  float: none;
}

.div {
  display: inline-block;
}

.btn {
  width: 100px;
  height: 50px;
}

.txtarea{
    height: 25em;
    width: 50em;
}

#auth_key {
  display: none;
}